<div class="text-center">
    <template #genericGraphContainer></template>
    
    <h1 class="mt-4" *ngIf="graphContent">{{graphContent.title}}</h1>

    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary exportButtom  m-3" (click)="savePNG()" download="graph.png">
                <fa-icon class="d-inline text-light " [icon]="downloadIcon"> </fa-icon>
                &nbsp; PNG
            </button>
            <button type="button" class="btn btn-primary exportButtom  m-3" (click)="saveSVG()" download="graph.png">
                <fa-icon class="d-inline text-light " [icon]="downloadIcon"> </fa-icon>
                &nbsp; SVG
            </button>
            <button type="button" class="btn btn-primary exportButtom m-3" (click)="savePDF()" download="graph.png">
                <fa-icon class="d-inline text-light" [icon]="downloadIcon"> </fa-icon>
                &nbsp; PDF
            </button>
        </div>

    </div>
   
</div>