figcaption{
    text-align: justify;
}
/* .input-range {
    -webkit-appearance: none;
    height: 200px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; 
    -webkit-appearance: slider-vertical; 
    
  } */