 /* div:active {
    background-color: transparent;
    text-decoration: underline;
    color: transparent;
} */

#navbar{
  background-color: #3AAED8;
}

.title{
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

.dropdown-item.active{
    background-color: lightgrey;
    text-decoration: bold;
}

div#navbarSupportedContent{
  font-size: 1.1em;
}

/*
.dropdown-item.active:hover{
    text-decoration: bold;
}

a:active {
    background-color: transparent;
  }

a::after{
    background-color: transparent;
}

a:hover {
    text-decoration: none;

  } */
  /* .container {
    height: 100vh;
    background: black;
    color: white;
  } */

  /* svg#svg {
    width: 100%!important;
    height: 100%!important;
} */