<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand title" href="/">Graph</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="/" [routerLink]="['/']">Inicio </a>
      </li>
      <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="/gallery" [routerLink]="['/gallery']">Galería </a>
      </li>
      <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="/generator" [routerLink]="['/generator']">Generador </a>
      </li>

      <li class="nav-item " [routerLinkActive]="['active']" *ngIf="isLoggedIn" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="/profile" [routerLink]="['profile', username]"></a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!isLoggedIn" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="/login" [routerLink]="['/login']">Iniciar sesión</a>
      </li>
      <li class="nav-item " [routerLinkActive]="['active']" *ngIf="!isLoggedIn"
        [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="/registro" [routerLink]="['/registro']">Registro </a>
      </li>
      <!-- <li class="nav-item " [routerLinkActive]="['active']" *ngIf="isLoggedIn" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="/profile" [routerLink]="['profile', username]">Perfil</a>
      </li> -->
      <div *ngIf="isLoggedIn">
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">{{username}}</a>
            <div class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="supportedContentDropdown">

              <a class="dropdown-item text-dark" href="/profile" [routerLink]="['profile', username]">Perfil</a>

              <a class="dropdown-item text-dark" *ngIf="isAdmin" href="/admin/profile"
                [routerLink]="['admin', 'profile', username]">Perfil de
                administrador</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item text-dark " title="Cerrar sesión" href="/" (click)="logout()">Cerrar sesión
                <fa-icon [icon]="logoutIcon"></fa-icon></a>
            </div>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>