<div *ngIf="isLoggedIn; else loggedOut">
  <div *ngIf="allowed; else noAllowed">
    <div class="banner-title">
      <h1>Perfil</h1>
    </div>
    <div class="mt-5">
      <ul *ngIf="user" class="list-group">
        <div class="container">
          <div class="main-body">
            <div class="row gutters-sm">
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img src="/assets/img/user2.jpg" alt="Admin" class="rounded-circle border"
                        width="150">
                      <div class="mt-3">
                        <h4>{{username}}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Username</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.username}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.email}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Estado</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p class="list-inline-item" *ngIf="user.enabled; else disabled"></p>Habilitado
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Roles</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p class="list-inline-item" *ngFor="let role of user.roles">
                          {{role.name}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
    
  </div>
</div>



<ng-template #disabled>
  <p>Deshabilitado</p>
</ng-template>

<ng-template #loggedOut>
  <div class="jumbotron jumbotron-fluid  text-center">
    <div class="container">
      <h1 class="display-4">Acceso restringido</h1>
      <p class="lead">Debes iniciar sesión para pode acceder a esta dirección.</p>
    </div>
  </div>
</ng-template>

<ng-template #noAllowed>
  <div class="jumbotron jumbotron-fluid  text-center">
    <div class="container">
      <h1 class="display-4">Acceso restringido</h1>
      <p class="lead">No puedes acceder a esta dirección</p>
      <p class="lead">Volver a <a href="/">Inicio</a></p>
    </div>
  </div>
</ng-template>