<div id="generator-container" class="row  p-0 m-0  ">
    <div class="col-md-1 p-0 m-0">
        <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-type-tab" data-toggle="pill" href="#v-pills-type" role="tab"
                aria-controls="v-pills-type" aria-selected="true">
                <fa-icon class="d-block" [icon]="typeIcon"></fa-icon>
                Tipo
            </a>
            <a class="nav-link disabled" id="v-pills-data-tab" href="#v-pills-data" role="tab"
                aria-controls="v-pills-data" aria-selected="false">
                <fa-icon class="d-block" [icon]="dataIcon"></fa-icon>
                Datos
            </a>
            <a class="nav-link disabled" id="v-pills-style-tab" href="#v-pills-style" role="tab"
                aria-controls="v-pills-style" aria-selected="false">
                <fa-icon class="d-block" [icon]="styleIcon"></fa-icon>
                Estilo
            </a>
            <a class="nav-link disabled" id="v-pills-export-tab" href="#v-pills-export" role="tab"
                aria-controls="v-pills-export" aria-selected="false">
                <fa-icon class="d-block" [icon]="exportIcon"></fa-icon>
                Exportar
            </a>
        </div>
    </div>
    <div class="col-md-3 p-0 m-0">
        <div class="card" id="myTabContent">
            <div class="tab-content p-0 text-center" id="v-pills-tabContent">
                <div class="tab-pane fade show active p-0" id="v-pills-type" role="tabpanel"
                    aria-labelledby="v-pills-type-tab">
                    <h3 class="text-center text-light mt-4 mb-4">Elige la gráfica</h3>

                    <div class="row justify-content-center">
                        <div class="col-4 p-0 mb-3" *ngFor="let item of graphList">

                            <label class="text-center center-align centered">
                                <input type="radio" class="card-input-element d-none" id="demo1"
                                    (click)="changeType(item)" name="type" value="{{item.type}}">
                                <img class="card card-img-top" style="height: 6rem; width: 6rem; align-self: center;"
                                    src="{{item.image}}">
                                <span class="text-light">{{item.title}}</span>
                            </label>


                            <!-- <div class="card" style="width: 6rem;">
                                <img class="card-img-top m-1" style="height: 5rem; width: 5rem;" src="{{item.image}}"
                                    alt="Card image">
                                <div class="card-body bodyType">
                                    <a href="http://www.google.es" target="_blank" class="stretched-link p-0 m-0" title="{{item.title}}"></a>
                                    <label class="btn btn-secondary btn-block buttonType">
                                        <input type="radio" (click)="changeType(item)" name="type"
                                            value="{{item.type}}">{{item.title}}
                                    </label>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade text-light  mt-4 p-0 disabled" id="v-pills-data" role="tabpanel"
                    aria-labelledby="v-pills-data-tab">

                    <!-- <ul class="nav nav-pills mb-1 justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                role="tab" aria-controls="pills-home" aria-selected="true">Cargar datos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                role="tab" aria-controls="pills-profile" aria-selected="false">Datos de prueba</a>
                        </li>
                    </ul> -->

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <h3 class="text-center text-light mt-4 mb-4">Introduce los datos</h3>
                            <p class="text-center text-light mt-1 mb-4">Puedes introducirlos manualmente o a través de
                                ficheros
                                .csv, .json
                            </p>

                            <div class="jumbotron jumbotron-fluid rounded">

                                <div class="m-2">

                                    <div *ngIf="invalidFile" class="alert alert-danger p-1" role="alert">
                                        <strong>Error:</strong> El fichero no incluye etiquetas para los campos
                                    </div>
                                    <!-- <div class="mb-2">

                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#exampleModal">
                                            <fa-icon class="fa-lg text-dark" [icon]="infoIcon"></fa-icon>
                                        </button>

                                    </div> -->

                                    <div class="custom-file form-group">
                                        
                                        <input type="file" class="custom-file-input  mr-sm-2" id="customFileLang"
                                            lang="es" accept=".json, .csv" (change)="previewFile($event)">
                                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                                    </div>
                                    <!-- , application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel -->

                                    <button type="submit" [disabled]="!fileUpload" (click)="uploadFile()"
                                        class="btn btn-primary mt-3 pl-3 pr-3">Subir <fa-icon *ngIf="showSpinner"
                                            class="d-inline icon-spinner " [icon]="spinnerIcon" [spin]="true">
                                        </fa-icon></button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <h3 class="text-center text-light mt-4 mb-4">Utiliza los datos de prueba</h3>
                            <div class="jumbotron jumbotron-fluid rounded">

                                <div class="m-2">

                                    <select class="form-control formField d-inline mb-3" name="files"
                                        (change)="chooseFile($event.target.value)">
                                        <option value="default" id="default" disabled selected>Elige los datos
                                        </option>
                                        <option *ngFor="let file of fileList" [value]="file.name">
                                            {{file.name}}
                                        </option>
                                    </select>
                                    <div class="p-2 mt-2">
                                        <fa-icon *ngIf="showSpinnerDemo" class="d-inline icon-spinner "
                                            [icon]="spinnerIcon" [spin]="true"> </fa-icon>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>





                    <div id="attributes" *ngIf="fileUploaded" class="jumbotron jumbotron-fluid rounded">
                        <div class="mt-1">
                            <div class="text-dark mb-3" *ngIf="typeList.length > 0">
                                <div class="row mb-2">
                                    <div class="col-4">Nº filas:</div>
                                    <div class="col-8">
                                        <input type="number" [(ngModel)]="graphContent.nlines" class="form-control"
                                            aria-describedby="numberElements" value=100 placeholder="100">
                                    </div>
                                </div>
                                <form [formGroup]="attributeForm" novalidate>

                                    <div class="row second-row" *ngFor="let attribute of graphContent.attributes">
                                        <div class="col col-4 little-col">
                                            <p><span *ngIf="attribute.required">* </span>
                                                <span>{{attribute.label}}</span>
                                            </p>
                                        </div>
                                        <div class="col col-7 little-col inline-block attributes">
                                            <select *ngIf="attribute.headers.length > 0"
                                                class="form-control formField d-inline" [id]="attribute.name"
                                                [required]="attribute.required" name="header"
                                                (change)="changeAttributes(attribute.name, $event.target.value)">
                                                <option value="default" id="default" disabled selected>Elige un campo
                                                </option>
                                                <option *ngFor="let item of attribute.headers"
                                                    [ngValue]="attribute.name">
                                                    {{item.header}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-1 little-col">
                                            <button (click)="reset(attribute.name)" type="button"
                                                class="close close-button" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="createComponent()"
                                [disabled]="!requiredItems">Generar gráfica</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade text-light " id="v-pills-style" role="tabpanel"
                    aria-labelledby="v-pills-style-tab">
                    <h3 class="text-center text-light mt-4 mb-4">Configura el estilo</h3>

                    <div class="justify">
                        <h4 class="text-light mt-4 mb-2">Dimensiones</h4>
                        <form [formGroup]="styleForm" novalidate>
                            <!-- <div class="form-group">
                                <label for="exampleInputEmail1">Selecciona un color</label>
                                <input class="form-control" type="color" id="favcolor" name="favcolor"
                                    formControlName="color" value="#6bc1d6">
                            </div> -->
                            <div class="form-group">
                                <label for="width">Ancho</label>
                                <input type="number" class="form-control" id="width" formControlName="width" min="100"
                                    max="1000" [(ngModel)]="graphContent.width">
                            </div>
                            <div class="form-group">
                                <label for="height">Largo</label>
                                <input type="number" class="form-control" id="height" formControlName="height" min="100"
                                    max="1000" [(ngModel)]="graphContent.height">
                            </div>
                            <small class="text-muted">El radio es calculado a partir del ancho y alto.</small>
                            <button type="button" class="btn btn-outline-secondary btn-block mt-3"
                                (click)="resize()">Redimensionar</button>
                            <h4 class="text-light mt-4 mb-2">Estilo</h4>
                            <div class="form-group">
                                <label for="backgroundColor">Color de fondo</label>
                                <input class="form-control" type="color" id="backgroundColor" name="favcolor"
                                    formControlName="color" value="#ffffff">
                            </div>
                        </form>
                        <label>Color de elementos</label>
                        <button *ngIf="created" type="button" class="btn btn-outline-secondary btn-block mt-1"
                            (click)="randomColors()">Colores aleatorios</button>


                    </div>
                </div>
                <div class="tab-pane fade text-light" id="v-pills-animations" role="tabpanel"
                    aria-labelledby="v-pills-animations-tab">
                    <h3 class="text-center text-light mt-4 mb-4">Añade animaciones</h3>
                </div>
                <div class="tab-pane fade text-light text-center" id="v-pills-export" role="tabpanel"
                    aria-labelledby="v-pills-export-tab">
                    <h3 class="text-center text-light mt-4 mb-4">Exportar como</h3>
                    <div *ngIf="!created" class="alert p-0" role="alert">
                        * Debes generar una gráfica primero
                    </div>
                    <button [disabled]="!created" type="button" class="btn btn-primary exportButtom mt-3"
                        (click)="savePNG()" download="graph.png">
                        <fa-icon class="d-inline text-light" [icon]="downloadIcon"> </fa-icon>
                        &nbsp; PNG
                    </button>
                    <button type="button" [disabled]="!created" class="btn btn-primary exportButtom" (click)="saveSVG()"
                        download="graph.png">
                        <fa-icon class="d-inline text-light " [icon]="downloadIcon"> </fa-icon>
                        &nbsp; SVG
                    </button>
                    <button type="button" [disabled]="!created" class="btn btn-primary exportButtom" (click)="savePDF()"
                        download="graph.png">
                        <fa-icon class="d-inline text-light" [icon]="downloadIcon"> </fa-icon>
                        &nbsp; PDF
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 p-3" id="generator">
        <div class="container ml-0">

            <div class="row w-100 justify-content-between" id="header">
                <div class="col-10">
                    <form [formGroup]="titleForm">
                        <input class="form-control" type="text" formControlName="title"
                            placeholder="Modifica el título aquí">
                    </form>
                </div>
                <div *ngIf="isLoggedIn" class="col-2 text-right">
                    <button id="saveButtom" type="button" class="btn btn-outline-secondary  btn-block pl-2 pr-2"
                        (click)="saveGraph()" [disabled]="!created">
                        <span *ngIf="!saveSpinner">
                            <fa-icon class="fa-sm" [icon]="downloadIcon"></fa-icon> Guardar
                        </span>
                        <span *ngIf="saveSpinner">
                            <fa-icon class="fa-sm" [icon]="spinnerIcon" [spin]="true"></fa-icon> Loading...
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="card-body">
                <div *ngIf="saved" class="alert alert-success alert-dismissible fade show" role="alert">
                    <fa-icon class="fa-sm" [icon]="infoIcon"></fa-icon> La gráfica se ha guardado correctamente.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="errorSaved" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <fa-icon class="fa-sm" [icon]="infoIcon"></fa-icon> Ha habido un error guardando la gráfica.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="cuadro w-100 d-flex justify-content-center">
                    <div *ngIf="showSpinnerGraph" class="text-center align-middle my-auto">
                        <fa-icon class="d-inline icon-spinner big-icon" [icon]="spinnerIcon" [spin]="true"> </fa-icon>
                    </div>
                    <div class="text-center">
                        <template #genericGraphContainer></template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>